{{- $thumbURL := .Destination -}}
{{- if in resources .Destination -}}
	{{- $thumbURL = ((resources.Get .Destination).Fit "1280x720").Permalink -}}
{{- end -}}

<div class="box" style="max-width: 720px">
	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<div class="img" style="background-image: url('{{ $thumbURL }}');">
			<img itemprop="thumbnail" src="{{ $thumbURL }}" alt="{{ .Text }}"/>
		</div>
		<a href="{{ .Destination }}" itemprop="contentUrl"></a>
			{{- if (.Text)}}
			<figcaption>
				<p>{{- .PlainText | safeHTML -}}</p>
			</figcaption>
		{{- end }}
	</figure>
</div>
