name: Hugo Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

# We have several possible workflows:
# - Push to master (regular static site generator)
# - Label an issue as "published" by the repo owner
# - Edit an issue which is "published" by the repo owner

jobs:
  build:
    # To see available associations: https://developer.github.com/v4/enum/commentauthorassociation/
    # Be careful that if this is left too open, it could result in arbitrary file
    # upload, as the filename is directly derived from the issue title
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build site
        run: bun run build
        # env:
        #   PLANE_API_BASE_URL: https://projects.vpn.dzerv.art/api
        #   PLANE_WORKSPACE_SLUG: personal
        #   PLANE_PROJECT_ID: 32980ecb-00f3-448e-b2f0-7b68b4647711
        #   PLANE_API_TOKEN: ${{ secrets.PLANE_API_TOKEN }}

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force_orphan: true
          cname: whynot.fail
          publish_dir: ./dist
